$animation-duration: 200ms;

.sidebar {
  width: 0px;
  background-color: hsla(0, 0%, 76%, 0.774);
  min-height: calc(100vh - 56px);
  max-height: 100;
  transition: width $animation-duration ease-in-out;
}

.open {
  width: 250px;
  transition: width $animation-duration ease-in-out;
  flex-shrink: 0;
}
.sidebar ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility $animation-duration ease-in-out,
    opacity 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-left: 48px;
  user-select: none;
}

.open ul {
  visibility: visible;
  opacity: 1;
  margin-top: 48px;
  margin-left: 48px;
}

.sidebar .icon {
  font-size: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(63, 57, 57, 0.753);
  cursor: pointer;
  background: none;
}

.sidebar .date {
  position: absolute;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-weight: 800;
  background: none;
}

.sidebar li a {
  text-transform: capitalize;
  display: flex;
  padding: 8px 10px;
  border-radius: 4px;
  margin-right: 4px;

  gap: 17px;
  &:nth-child(1n) {
  }
  color: rgb(59, 61, 60);

  &:hover {
    background-color: rgba(255, 255, 255, 0.69);
  }
}
.selected {
  background-color: rgba(255, 255, 255, 0.69);
}
