$currentColor: rgba(59, 57, 57, 0.802);

.main {
  width: 100%;
  padding: 30px;
}

.taskCheckbox {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto 70px;
  gap: 0.5em;
}

.taskCheckbox input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: $currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid $currentColor;
  border-radius: 1.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.taskCheckbox input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  display: none;
  // transform: scale(0);
  // transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(82, 76, 76);
  // transform-origin: bottom left;
  // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(11% 51%, 40% 72%, 87% 18%, 94% 22%, 42% 83%, 6% 57%);
}
// .taskCheckbox input[type='checkbox']:hover::before {
//   content: '';
//   width: 0.65em;
//   height: 0.65em;
//   display: block;
//   box-shadow: inset 1em 1em rgb(82, 76, 76);
//   // transform-origin: bottom left;
//   clip-path: polygon(11% 51%, 40% 72%, 87% 18%, 94% 22%, 42% 83%, 6% 57%);
// }

.taskCheckbox input[type='checkbox']:checked::before {
  display: block;
}

.taskCheckbox input[type='checkbox']:checked {
  background-color: rgba(70, 64, 64, 0.437);
}

.main li {
  margin-top: 1em;
}

.taskCheckbox .task {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.826);
  cursor: pointer;
  &:hover {
  }
}

.taskCheckbox .description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.475);
}

.editDel {
  display: flex;
  opacity: 0;
  justify-content: space-evenly;
  color: rgba(63, 57, 57, 0.753);
  font-size: 28px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.editIcon,
.delIcon {
  padding: 4px;
  border-radius: 4px;
  &:hover {
    background-color: rgba(186, 181, 181, 0.444);
  }
}

.hideCurrentTask {
  display: none;
}

.taskLi:not(:first-child) {
  border-top: 1px solid rgba(164, 160, 160, 0.296);
  margin-top: 20px;
}

.taskDes{
  line-height: 1.4;
}